[Unit]
Description=Web server Dashboard pour Erabliere
After=network-online.target
Wants=ErabliCollecteur.service

[Service]
Type=simple

User=erabliere
Group=erabliere
WorkingDirectory=/home/erabliere/ErabliDash
PIDFile=/home/erabliere/ErabliDash/pid/ErabliDash.pid
ExecStartPre=/bin/mv /home/erabliere/ErabliDash/data/dashboard.json /home/erabliere/ErabliDash/data/dashboard.json.bk
ExecStart=/home/erabliere/.nvm/versions/node/v8.15.0/bin/node /home/erabliere/ErabliDash/app.js
Restart=on-abnormal
TimeoutSec=15

[Install]
WantedBy=multi-user.target
