[Unit]
Description=Web server Dashboard pour Erabliere
After=network-online.target
After=ErabliCollecteur.service
Wants=ErabliCollecteur.service

[Service]
Type=simple

User=erabliere
Group=erabliere
WorkingDirectory=/home/erabliere/ErabliDash
PIDFile=/home/erabliere/ErabliDash/pid/ErabliDash.pid
ExecStart=/home/erabliere/ErabliDash/run.sh
Restart=on-abnormal
TimeoutSec=15

[Install]
WantedBy=multi-user.target
