/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-04-12, 17:50:45
    Author     : andregagnon
*/


.fond
{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.mytable
{
    position:absolute;
    top: 925px;
    left: 750px;
    z-index: 2;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017-04-20, 13:14:55
    Author     : andregagnon
*/
/* you can import CSS from other pens - we'll import color and typography styles from this pen */

.links {
    width: 90%;
    margin: 0 auto;
}

.link {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 34px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 0.8rem;
    margin: 10px;
    position: relative;
}
.link span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
}


/*
.spinner {
  width: 100%; rgba(76, 175, 80, 0.9)
  height: 50%;
}

.spinner {
background-color: rgba(153, 153, 153, 1);
border-radius: 10px;
/*height: 50px;
left: 50%;
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
width: 70px;

z-index: 3;
}
*/
div.seve{
    font-size: x-large;
    font-weight:bold;
    position: absolute;
    background-color: #0099ff;
    top: 460px;
    left: 230px;
    width: 250px;
    height: 130px;
    text-align: center;
    line-height: 200%;
    padding: 0px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*border: 5px solid #73AD21; */   
}
.delai{
    background-image: url("./images/cone-19.jpg") ;
    background-size: cover;
}
div.osmose {
    font-size: x-large;
    font-weight:bold;
    position: absolute;
    background-color: #73AD21;
    top: 500px;
    left: 710px;
    width: 230px;
    height: 130px;
    text-align: center;
    line-height: 200%;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*   border: 5px solid #73AD21;*/
}

a.Pression_temperature {
    position: absolute;
    top: 550px;
    left: 980px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 23px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 250px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

a.Pression_temperature:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}


a.Heure_coulee {
    position: absolute;
    top: 780px;
    left: 720px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 250px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

a.Heure_coulee:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

a.Total_gallons {
    position: absolute;
    top: 720px;
    left: 50px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 190px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

a.Total_gallons:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.rf2{
    position: absolute;
    top: 175px;
    left: 315px; 
}

.flex-container {
    position: absolute;
    top: 10px;
    left: 1250px; 
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue */

}

.flex-container > div {
    /*  background-color: rgba(76, 175, 80, 0.6);
      background-size: 20%;
      width: 90px; 
    border-style: solid;
    border-color: #000;
    border-width: thin;
    h 100
    */
    position: relative;
    height: 90px;
    width: 120px; 
    margin: 2px;
    padding: 2px 4px 2px 4px;
    text-align: left;
    line-height: 1.4;
    font-size: 16px;

}
.vacdot-container{
    position: absolute;
    top: 27px; 
    right:5px;
    text-align:center;
    width: 30px; 
    /* height: 60px; 
    opacity:0.3;
     center;
     font-size: 25px;*/
    /* color: #ff0100; rgb(dd,dd,dd,0.3);*/
    border : 1px solid #73AD21;
    z-index: 3;

}
.warning-container{
    position: relative;
    bottom: 33px; 
    width: 123px; 
    /* height: 60px; */
    opacity:0.6;
    text-align: right;
    font-size: 20px;
    color: #009900;/* rgb(dd,dd,dd,0.3);*/
    /* border : 1px solid #73AD21;*/
    z-index: 3;

}
.mytext-container{
    border-style: solid;
    border-color: #000;
    border-width: 3px;
}
.myBar {
    width: 10%;
    position: relative;
    bottom: 0px;

    height: 5px; 
    background-color: rgba(76, 175, 80, 0.6);

}
.GreenBar > .ui-progressbar-value {
    background: green;
}

.RedBar > .ui-progressbar-value {
    background: red;
}

.YellowBar > .ui-progressbar-value {
    background: #ff6600;
}
.WhiteBar > .ui-progressbar-value {
    background: white;
}
.BlueBar > .ui-progressbar-value {
    background: blue;
}




